.Header {
  top: 0;  
  width: 100%; 
  position: fixed;
  background-color: #050A30;
  box-shadow: 10px 10px 10px 0px rgba(80,83,110,0.3);
}

.Container-Logo {
  flex: 1;
  height: 80px;
  display: flex;
  margin-left: 10px;
}

.Img-Logo {
  height: 80px;
  object-fit: contain; 
}

.Img-Logo:hover {
  transform: scale(1.10);
  transition: transform 500ms;
}