.Event-List {
  flex: 2;
  display: flex; 
  overflow-y: auto;
  list-style: none;
  border-radius: 5px;
  flex-direction: column; 
  margin: 80px 5px 0px 5px;
  height: calc(100vh - 85px);
  border: thin solid #E6E6EA;  
}

.Event {  
  padding: 8px;
  margin: 10px;
  display: flex;  
  color: #9B9DAC;  
  border-radius: 5px;  
  border-style: groove;
  text-decoration: none;
  flex-direction: column;  
  background-color: #050A30;
  border: thin solid #050A30;
}

h3 {  
  color: #E6E6EA;
  font-weight: bold
}

.Event-Details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Event:hover {
  border-color: #E6E6EA;
}

.Event:hover button {
  color: #cc0000;
}

.Log {
  flex: 1;
  display: flex;
  margin-top: 5px;
  border-radius: 5px; 
  align-items: flex-end;
  flex-direction: column;
}

label {
  flex: 1;
  width: 100%;
  display: flex;
  border-radius: 5px; 
  margin-bottom: 5px;
  background-color: #363A59;
}

textarea {
  flex: 1;
  resize: none;
  display: flex;
  padding: 5px;  
  font-size: 15px;  
  color: #FFFFFF; 
  border-radius: 5px;  
  font-weight: normal;
  background-color: #363A59;
}

textarea::placeholder {
  font-size: 15px; 
  color: #cdced5;  
  font-weight: normal;
}

.Close-Event-Button {
  flex: 0;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  background-color: #363a59;
}

.Close-Event-Button:active {
  transform: translateY(2px);
  box-shadow: 0 5px #9B9DAC;
}